<div class="row">
  <div class="col-sm-12">
      <div class="white-box">
          <h3 class="box-title">Liste des Auteurs</h3>

          <div class="table-responsive">
              <table class="table text-nowrap" *ngIf="author && author.length!==0 ">
                  <thead>
                      <tr>
                          <th class="border-top-0">Numero</th>
                          <th class="border-top-0">Nom et prenom</th>
                          <th class="border-top-0">Date de décès</th>
                          <th class="border-top-0">Lieu de naissance</th>
                          <th class="border-top-0  text-center">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let aut of author; let i=index" >
                          <td>{{i+1}}</td>
                          <td>{{aut.autor_name}}</td>
                          <td>{{aut.dateDeces_aut}}</td>
                          <td>{{aut.lieuNaiss_aut}}</td>

                          <td>
                            <a class=" btn btn-primary ml-4" routerLinkActive="active" routerLink="/custom/updateAuthor/{{aut._id}}">  Modifier</a>
                              <a class=" btn btn-danger ml-4" (click)="delete(aut._id,i)"> Supprimer</a>
                              
                              <a class=" btn btn-info ml-4"  routerLinkActive="active" routerLink="/custom/infoAuthor/{{aut._id}}"> info</a>
                        

                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="author.length==0">
      <p   class=" rounded">
        <marquee behavior="" direction="">
          Vous n'avez pas d'Auteur Ajouter veillez  cliquer sur le bouton  pour Ajouter
        </marquee>

           <span id="card1">
            <a routerLink="/custom/addAutor" ><i class="fa-solid fa-plus fas fa-plus" style="color:blue; font-size:150px;"></i></a> 
           </span>
      </p>
    </div>
  </div>
</div>
