<aside class="left-sidebar" data-sidebarbg="skin6">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <!-- User Profile-->
              <li class="sidebar-item pt-2">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLinkActive="active" routerLink="/custom"
                      aria-expanded="false">
                      <i class="fas fa-th-large" aria-hidden="true"></i>
                      <span class="hide-menu">Tableau de bord</span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link"routerLinkActive="active" routerLink="/custom/addAutor"
                      aria-expanded="false">
                      <i class=" fas fa-user-plus" aria-hidden="true"></i>
                      <span class="hide-menu">AJouter un Auteur</span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLinkActive="active" routerLink="/custom/addCitation"
                      aria-expanded="false">
                      <i class="fa fa-table" aria-hidden="true"></i>
                      <span class="hide-menu">Ajouter un Citation</span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLinkActive="active" routerLink="/custom/autorList"
                      aria-expanded="false">
                      <i class="fa fa-font" aria-hidden="true"></i>
                      <span class="hide-menu">Listes des Auteurs</span>
                  </a>
              </li>
             
            <li class="sidebar-item">
              <a class="sidebar-link waves-effect waves-dark sidebar-link"routerLinkActive="active"   routerLink="/custom/userProfil"
                  aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  
                  <span class="hide-menu">Profil</span>
              </a>
          </li>
           <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link"routerLinkActive="active" routerLink="/custom/citationList"
                      aria-expanded="false">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                      <span class="hide-menu">Listes des Citation</span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLinkActive="active" routerLink="/custom/my_favories"
                      aria-expanded="false">
                      <i class="  fas fa-heart" aria-hidden="true"  style="color:red;"></i>
                      <span class="hide-menu">Mes Citations Favorites</span>
                  </a>
              </li>
              <li class="text-center p-20 upgrade-btn">
                  <a routerLinkActive="active" routerLink="/add-book"
                      class="btn d-grid btn-danger text-white" target="_blank">Deconnexion</a>
              </li>
          </ul>

      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
