<div class="col-lg-9 col-xlg-12 col-md-12" style="margin:0 auto ;" *ngIf="author && author.length!==0">
  <div class="card">
      <div class="card-body">
          <form class="form-horizontal form-material" (ngSubmit)="onSubmit()">
              <div class="form-group mb-4">
                  <label class="col-md-12 p-0">Nom et prenom<i style="color:red;">*</i></label>
                  <div class="col-md-12 border-bottom p-0">
                      <input type="text" placeholder="Socrate"
                          class="form-control p-0 border-0" name="autor_name" [(ngModel)]="author.autor_name" required="true"> </div>
              </div>

              <div class="form-group mb-4">
                  <label  class="col-md-12 p-0">Lieu de naissance de l'auteur<i style="color:red;">*</i></label>
                  <div class="col-md-12 border-bottom p-0">
                      <input type="text" placeholder="Alopèce"
                          class="form-control p-0 border-0"  name="lieuNaiss_aut"  [(ngModel)]="author.lieuNaiss_aut"required="true">
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label class="col-md-12 p-0">Date de décès de l'auteur</label>
                  <div class="col-md-12 border-bottom p-0">
                      <input type="text"  class="form-control p-0 border-0"
                        [(ngModel)]="author.dateDeces_aut" placeholder="15 Fevier 399 av.J.C" min="8" name="dateDeces_aut" required="true">
                  </div>
              </div>
              <div class="form-group mb-4">
                  <label class="col-md-12 p-0">Histoire particulière</label>
                  <div class="col-md-12 border-bottom p-0">
                    <textarea rows="5" class="form-control p-0 border-1" name="histPart_aut"  [(ngModel)]="author.histPart_aut"required="true"></textarea>
                  </div>
              </div>
              <div class="form-group mb-4">
                <label class="col-md-12 p-0">Biographie de l'auteur <i style="color:red;">*</i></label>
                <div class="col-md-12 border-bottom p-0">
                    <textarea rows="5" class="form-control p-0 border-1" name="bio_aut"   [(ngModel)]="author.bio_aut" required="true"></textarea>
                </div>
            </div>

              <div class="form-group mb-4">
                  <div class="col-sm-12 px-lg-4"> 
                      <button class=" btn btn-success">Modifier</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

