 <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5> Modfication  de mot de passe </h5>
              <p class="mb-2">Entrez votre nouveau le mot de passe pour connecter
              </p>
            </div>
            <form
            class="form"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="mb-3">
              <label for="newPassword">Nouveau mot de passe: </label>
              <input
                id="newPassword"
                type="password"
                class="form-control"
                formControlName="newPassword"
                #pw
              />
              <button  class="eyebutton"  (click)="onClick1(pw)">
                <i class="fa fa-eye" aria-hidden="true" *ngIf="!show1"></i>
                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show1"></i>
              </button>

              <div
                *ngIf="
                  newPassword.invalid &&
                  (newPassword.dirty || newPassword.touched)
                "
                class="form-text text-danger"
              >
                <div *ngIf="newPassword.errors?.['required']">
                  Champ obligatoire !
                </div>
                <div *ngIf="newPassword.errors?.['pattern']">
                    Le mot de passe doit contenir au moins un chiffre, une majuscule et un
                    lettre minuscule et au moins 8 caractères<br />Le mot de passe ne peut pas
                    contenir des espaces
                </div>
                <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                  Les mots de passe ne correspondent pas
              </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword">Nouveau mot de passe (confirmation):</label>
              <input
                id="confirmPassword"
                type="password"
                class="form-control"
                [ngClass]="confirmPasswordClass"
                formControlName="confirmPassword"
                #cpw
              />
              <button  class="eyebutton"  (click)="onClick(cpw)">
                <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
              </button>

              <div
                *ngIf="
                  confirmPassword.invalid &&
                  (confirmPassword.dirty || confirmPassword.touched)
                "
                class="form-text text-danger"
              >
                <div *ngIf="confirmPassword.errors?.['required']">
                    Champ obligatoire !
                </div>
                <div *ngIf="confirmPassword.errors?.['pattern']">
                    Le mot de passe doit contenir au moins un chiffre, une majuscule et un
                    lettre minuscule et au moins 8 caractères<br />Le mot de passe ne peut pas
                    contenir des espaces
                </div>
                <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                    Les mots de passe ne correspondent pas
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <button
                type="submit"
                [disabled]="resetPasswordForm.invalid"
                class="btn btn-dark m-auto"
              >
              Réinitialiser le mot de passe
              </button>
            </div>
          </form>
         
          </div>
        </div>
      </div>
    </div>
</div>