
<header class="topbar" data-navbarbg="skin5">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
      <div class="navbar-header" data-logobg="skin6">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <a class="navbar-brand" href="https://www.operantic.com/" target="_blank">
              <!-- Logo icon -->
              <b class="logo-icon">
                  <!-- Dark Logo icon -->
                  <img src="https://www.operantic.com/sites/default/files/logo-operantic.png" alt="homepage" width="50"/>
              </b>
              <!--End Logo icon -->
              <!-- Logo text -->
        
          </a>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
     
          <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
              href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5" class="text-white">
        <div class="row ml-2">
            <div class="col text-center m-auto" >
                <h4 style="font-size:15px; font-weight:900px;" class="page-title w-100">{{page}}</h4>
            </div>
            <div class="col text-center m-auto">
                <div  style="margin-left: 700px ;">
                    <a routerLink="/user" routerLinkActive="active" class="btn btn-danger text-white">S'identifier</a>

                </div>
            </div>
        </div>
        <div class="row d-flex">
           
        </div>
        
      </div>
             
          
            <!-- /.col-lg-12 -->
    
     
  </nav>
</header>
