
<div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center
          min-vh-100">
        <div class="col-12 col-md-8 col-lg-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="mb-4">
                <h5>Mot de passe oublié?</h5>
                <p class="mb-2">Entrez votre identifiant de messagerie enregistré pour réinitialiser le mot de passe
                </p>
              </div>
              <form (ngSubmit)="onSubmit($event)" class="form-horizontal form-material">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" id="email" class="form-control"[(ngModel)]="body.email_To" name="email_To" placeholder="Saisir votre adresse mail"
                    required>
                </div>
                <div class="mb-3 d-none">
                 
                  <input  class="form-control"[(ngModel)]="body.message" name="message" 
                    required [value]="body.message">
                </div>
                <div class="mb-3 d-none">
                  <input  class="form-control"[(ngModel)]="body.from_Name" name="from_Name" 
                    required [value]="body.from_Name">
                </div>
                <div class="mb-3 d-none">
                 
                  <input class="form-control"[(ngModel)]="body.url_app" name="url_app" 
                    required [value]="body.url_app">
                </div>
                <div class="mb-3 d-none">
                  <input class="form-control"[(ngModel)]="body.to_name" name="to_name" 
                    required [value]="body.to_name">
                </div>
      
                <div class="mb-3 d-grid">
                  <button  class="btn btn-primary">
                    réinitialiser le mot de passe
                  </button>
                </div>
                <span> Si vous n'avez compte ? <a routerLinkActive="active" routerLink="/user/sign">Creer un compte</a></span>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
  